@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Padauk:wght@400;700&display=swap');

// Variables
@import 'variables';

@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Bootstrap Edit
.breadcrumb-item{
    a{
        text-decoration: none;
    }
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// swal config
$swal2-confirm-button-background-color : $primary;
@import "~sweetalert2/src/sweetalert2";


@import "~venobox/dist/venobox.min.css";


.brand-logo{
    filter: drop-shadow(0px 1px 0 #00000030);
}

.sidebar{

}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin-bottom: 3px;
}
.sidebar-spacer{
    height: 20px;
}
.sidebar-link{
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 12px;
    color: var(--bs-dark);
    transition: background-color 0.5s;
}
.sidebar-link.active{
    background: #0D6EFD20;
    color: var(--bs-primary);
}
.sidebar-link:hover{
    background: #0D6EFD35;
    color: var(--bs-primary);
}
.sidebar-link-icon{
    margin-right: 10px;
}
.sidebar-group-title{
    margin: 0;
    padding:10px;
    font-weight: bold;
}
.search-sticky{
    position: sticky;
    top: 55px;
    z-index: 1000;
}
h2 {
    font-weight: 900
}

.container-fluid {
    max-width: 1200px
}

.card-box {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem
}
.p-info {
    display: flex;
    justify-content: space-between
}

.p-price {
    position: absolute;
    right: 10px;
    top: 20px
}

.heart i {
    font-size: 50px;
    opacity: 0;
    color: red
}

.heart i:hover {
    color: red
}

.p-image img {
    width: 240px;
    transform: rotate(15deg);
    transition: all 0.5s
}

.card-box:hover .heart i {
    animation: heart 300ms ease-in forwards;
    animation-delay: 500ms
}

.p-about {
    position: absolute;
    width: 170px;
    font-size: 10px;
    top: 140px;
    left: -125px;
    opacity: 0
}

.card-box:hover .p-about {
    animation: content 300ms ease-in forwards
}

@keyframes content {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
        left: 25px
    }
}

@keyframes heart {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.card-box:hover .p-image img {
    animation: onimage 300ms ease-in forwards
}

.card-box:hover .p-price {
    animation: onprice 500ms ease-in forwards
}

@keyframes onprice {
    0% {
        right: 10px;
        top: 20px
    }

    50% {
        right: 60px;
        top: 30px
    }

    100% {
        right: 267px;
        top: 70px
    }
}

@keyframes onimage {
    0% {
        width: 250px
    }

    50% {
        width: 200px;
        transform: translateY(-30px);
        transform: translateX(100px)
    }

    100% {
        width: 180px;
        top: 100px;
        transform: translateY(100px);
        transform: translateX(110px)
    }
}

.buttons {
    position: absolute;
    bottom: -180px
}
.card-box:hover .buttons {
    animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
    0% {
        bottom: -100px
    }

    100% {
        bottom: 20px
    }
}
//********************end detail card **************
.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px)
}

.card-box h5 {
    overflow: hidden;
    height: 30px;
    font-weight: 900;
    font-size: 1rem
}

.card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 15px
}

.card-box h2 {
    font-size: 1rem
}

.card-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.label-top {
    position: absolute;
    background-color: #8bc34a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white
}

.top-right span {
    display: inline-block;
    vertical-align: middle
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 250px
    }
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px
}

.box .btn {
    font-size: 1.5rem
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px
    }
    .slider-row{
        display: none;
    }
}

@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px
    }
}

.btn-warning {
    background: none #f7810a;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
    border-radius: 100px
}

.btn-warning:hover {
    background: none #ff962b;
    color: #ffffff;
    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
}

.bg-success {
    font-size: 1rem;
    background-color: #f7810a !important
}

.bg-danger {
    font-size: 1rem
}

.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray
}

.fa-question-circle:before {
    color: darkgray
}

.fa-plus:before {
    color: darkgray
}

.box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.box-img {
    max-width: 300px
}

.thumb-sec {
    max-width: 300px
}

@media (max-width: 576px) {
    .box-img {
        max-width: 200px
    }

    .thumb-sec {
        max-width: 200px
    }
}

.inner-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width: 370px) {
    .box .btn {
        padding: 5px 40px 5px 40px;
        font-size: 1rem
    }
}

.disclaimer {
    font-size: .9rem;
    color: darkgray
}

.related h3 {
    font-weight: 900
}

footer {
    background: #212529;
    height: 80px;
    line-height: 80px;
    color: #fff
}
//********** cart store list
.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}
.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}
// ========= banner
.banner {
    width: 100%;
    background:url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
    background-size: cover;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}

.big-text {
    font-size: 120px;
    font-weight:800;
    animation-delay: 1s;
}
.banner a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
    border-radius: 15px;
}
.banner a:hover {
    background: steelblue;
    color: #fff;
    padding: 15px 20px;
}
// ========= end banner
//============= testimonial

figure.snip1390 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #4f70bf;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
figure.snip1390 figcaption {
    width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
    margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
    font-weight: 300;
}
figure.snip1390 h2 {
    color: #ffffff;
}
figure.snip1390 h4 {
    color: #a6a6a6;
}
figure.snip1390 blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}
figure.snip1390 blockquote:before {
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0;
    left: 20px;
}
figure.snip1390 .profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #d86a8e;
}
//========= end testimonial
// ============slider
@mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 960px;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}

//=========
body {
    background: aliceblue;
}

.gtco-testimonials {
    position: relative;
    margin-top: 30px;

    h2 {
        font-size: 30px;
        text-align: center;
        color: #333333;
        margin-top: 10px;
    }

    .owl-stage-outer {
        padding: 30px 0;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;

        span {
            position: relative;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: block;
            background: #fff;
            border: 2px solid #01b0f8;
            margin: 0 5px;
        }

        .active {
            box-shadow: none;

            span {
                background: #01b0f8;
                box-shadow: none;
                height: 12px;
                width: 12px;
                margin-bottom: -1px;
            }
        }
    }

    .cardBox {
        background: #fff;
        box-shadow: 0 8px 30px -7px #c9dff0;
        margin: 0 20px;
        padding: 0 10px;
        border-radius: 20px;
        border: 0;

        .cardBox-img-top {
            max-width: 130px;
            border-radius: 2%;
            margin: 15px auto 0;
            box-shadow: 0 8px 20px -4px #95abbb;
            width: 130px;
            height: 120px;
        }

        h5 {
            color: #01b0f8;
            font-size: 21px;
            line-height: 1.3;

            span {
                font-size: 18px;
                color: #666666;
            }
        }

        p {
            font-size: 18px;
            color: #555;
            padding-bottom: 15px;
        }
    }

    .active {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .center {
        opacity: 1;

        h5 {
            font-size: 24px;

            span {
                font-size: 20px;
            }
        }

        .card-img-top {
            max-width: 100%;
            height: 120px;
            width: 120px;
        }
    }
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel {
    .owl-nav button {
        &.owl-next, &.owl-prev {
            outline: 0;
        }
    }

    button.owl-dot {
        outline: 0;
    }
}
//============footer
.content {
    height: 70vh; }

.footer-20192 {
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #141d2a; }
.footer-20192 .container {
    position: relative; }
.footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5; }
.footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block; }
.footer-20192 .links li a {
    color: #666873; }
.footer-20192 .links li a:hover {
    color: #fff; }
.footer-20192 .social li {
    display: inline-block;
    position: relative;
}
.footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #8186d5;
    color: #fff;
}
.footer-20192 .social li a  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    line-height: 100%;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.footer-20192 .social img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem; }
.footer-20192 .copyright {
    color: #666873; }
.footer-20192 .cta {
    //-webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    //box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 20px;
    background-color: #37526c;
    top: -150px;
    position: relative; }
.footer-20192 .cta h2, .footer-20192 .cta h3 {
    line-height: 1.5; }
.footer-20192 .cta h3 {
    font-size: 20px; }
#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
.active{
    color: white !important;
    background-color: dodgerblue;
    border-radius: 4px;
    padding: 4px;
}
.profiles img {
    margin-right: -12px
}
